body {
    font-family: Arial, sans-serif;
    background: url('background.jpg') no-repeat center center/cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(184, 182, 182, 0.7);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    color: white;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.8;
}

.input-box {
    text-align: left;
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn {
    background: #ff4d6d;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background: #ff3366;
}

.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #ff4d6d;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}