@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('https://source.unsplash.com/1600x900/?nature,water') no-repeat center center/cover;
    height: 100vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}

.login-container {
    background: rgba(166, 164, 164, 0.6);
    padding: 30px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin-bottom: 15px;
}

.input-box i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

.input-box input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: none;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #ff3c67;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.divider {
    margin: 15px 0;
    font-size: 14px;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
}

.social-buttons a {
    display: inline-block;
    padding: 10px;
    width: 48%;
    text-align: center;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}
.footer-text {
    font-size: 12px;
    margin-top: 15px;
}
.register-link {
    display: flex;
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #fff;
}

.register-link a {
    color: #ff4d6d;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.register-link a:hover {
    color: #ff1e4d;
    text-decoration: underline;
}


.options label {
    display: flex;
    align-items: center;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.input-box {
    margin-bottom: 15px;
}

.input-box label {
    display: block;
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}

.input-box select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.input-box select option {
    background: #333;
    color: #fff;
}

.input-box select:focus {
    background: rgba(255, 255, 255, 0.2);
}